<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.study.springcqrs.user.mapper.command.UserCommandMapper">

    <update id="updateProfile">
        UPDATE tb_user
           SET user_name = #{userName},
               email = #{email},
               phone = #{phone},
               modified_date = NOW()
         WHERE user_id = #{userId}
    </update>

    <update id="updatePassword">
        UPDATE tb_user
           SET password = #{newPassword},
               modified_date = NOW()
         WHERE user_id = #{userId}
    </update>

</mapper>
