<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.study.springcqrs.system.role.mapper.command.RoleCommandMapper">

    <insert id="insertRole">
        INSERT INTO tb_role (role_id, role_name, role_level, description, created_by)
        VALUES (#{roleId}, #{roleName},
                COALESCE((SELECT MAX(role_level) + 1 FROM tb_role), 1),
                #{description}, #{createdBy})
    </insert>

    <update id="updateRole">
        UPDATE tb_role
        SET role_name = #{roleName},
            description = #{description},
            modified_by = #{modifiedBy},
            modified_date = CURRENT_TIMESTAMP
        WHERE role_id = #{roleId}
    </update>

    <delete id="deleteRole">
        DELETE FROM tb_role WHERE role_id = #{roleId}
    </delete>

</mapper>
