<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.study.springcqrs.board.writing.mapper.query.WritingQueryMapper">

    <select id="selectPostList"
            parameterType="kr.or.study.springcqrs.board.writing.dto.query.condition.WritingSearch"
            resultType="kr.or.study.springcqrs.board.writing.dto.query.response.WritingResponse">
        SELECT
            post_id,
            board_id,
            title,
            content,
            view_count,
            is_notice,
            is_secret,
            created_by,
            created_date,
            modified_by,
            modified_date
        FROM tb_post
        WHERE board_id = #{boardId}
        ORDER BY created_date #{sortOrder}
        LIMIT #{limit} OFFSET #{offset}
    </select>

</mapper>
